Repository josh123234/satellite-alpha-gqulib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ai-team, @frontend-team, @devops-team, @database-team

.github/CODEOWNERS:

# Order is important - the last matching pattern takes precedence.

# Global owners (fallback for any files not matched by other rules)
* @project-leads

# Backend microservices ownership
src/backend/** @backend-team @security-team

# AI/ML components requiring specialized review
src/backend/src/ai/** @ai-team @backend-team @security-team

# Frontend application ownership
src/web/** @frontend-team @security-team

# Core frontend modules with enhanced security review
src/web/src/app/core/** @frontend-team @security-team

# Infrastructure configurations
infrastructure/** @devops-team @security-team

# CI/CD workflow configurations
.github/workflows/** @devops-team @security-team

# Authentication components with primary security team ownership
src/backend/src/auth/** @security-team @backend-team

# Backend configuration requiring multi-team review
src/backend/src/config/** @backend-team @devops-team @security-team

# Database migrations requiring specialized database team review
src/backend/src/database/migrations/** @backend-team @database-team @security-team

# Documentation ownership
docs/** @project-leads @backend-team @frontend-team

# Security-related documentation
docs/security/** @security-team @project-leads

# Test configurations and frameworks
tests/** @backend-team @frontend-team @security-team

# Package dependencies and lock files
package.json @backend-team @devops-team
package-lock.json @backend-team @devops-team
yarn.lock @frontend-team @devops-team

# Environment configurations
.env.example @devops-team @security-team
*.env.* @devops-team @security-team

# Docker configurations
Dockerfile* @devops-team @security-team
docker-compose*.yml @devops-team @security-team

# Kubernetes configurations
k8s/** @devops-team @security-team

# Database schema and configuration
src/backend/src/database/schema/** @database-team @backend-team
src/backend/src/database/config/** @database-team @backend-team @security-team

# API specifications
src/backend/src/api/** @backend-team @security-team

# Shared utilities and common code
src/shared/** @backend-team @frontend-team @security-team

# Build configurations
*.config.js @devops-team @backend-team @frontend-team
*.config.ts @devops-team @backend-team @frontend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/ai/tests/ai.service.spec.ts
  src/backend/src/ai/tests/ai.service.spec.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/analytics/analytics.controller.ts
  src/backend/src/analytics/analytics.controller.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/analytics/analytics.module.ts
  src/backend/src/analytics/analytics.module.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/analytics/analytics.service.ts
  src/backend/src/analytics/analytics.service.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/analytics/dto/usage-metric.dto.ts
  src/backend/src/analytics/dto/usage-metric.dto.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/analytics/entities/usage-metric.entity.ts
  src/backend/src/analytics/entities/usage-metric.entity.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/analytics/interfaces/metric.interface.ts
  src/backend/src/analytics/interfaces/metric.interface.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/analytics/repositories/analytics.repository.ts
  src/backend/src/analytics/repositories/analytics.repository.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/analytics/tests/analytics.controller.spec.ts
  src/backend/src/analytics/tests/analytics.controller.spec.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/analytics/tests/analytics.service.spec.ts
  src/backend/src/analytics/tests/analytics.service.spec.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/auth/auth.controller.ts
  src/backend/src/auth/auth.controller.ts
Owners: @security-team, @backend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/auth/auth.module.ts
  src/backend/src/auth/auth.module.ts
Owners: @security-team, @backend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/auth/auth.service.ts
  src/backend/src/auth/auth.service.ts
Owners: @security-team, @backend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/auth/decorators/roles.decorator.ts
  src/backend/src/auth/decorators/roles.decorator.ts
Owners: @security-team, @backend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/auth/guards/jwt-auth.guard.ts
  src/backend/src/auth/guards/jwt-auth.guard.ts
Owners: @security-team, @backend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/auth/guards/roles.guard.ts
  src/backend/src/auth/guards/roles.guard.ts
Owners: @security-team, @backend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/auth/interfaces/jwt-payload.interface.ts
  src/backend/src/auth/interfaces/jwt-payload.interface.ts
Owners: @security-team, @backend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/auth/strategies/jwt.strategy.ts
  src/backend/src/auth/strategies/jwt.strategy.ts
Owners: @security-team, @backend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/auth/strategies/oauth.strategy.ts
  src/backend/src/auth/strategies/oauth.strategy.ts
Owners: @security-team, @backend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/auth/tests/auth.controller.spec.ts
  src/backend/src/auth/tests/auth.controller.spec.ts
Owners: @security-team, @backend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/auth/tests/auth.service.spec.ts
  src/backend/src/auth/tests/auth.service.spec.ts
Owners: @security-team, @backend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/common/decorators/api-paginated-response.decorator.ts
  src/backend/src/common/decorators/api-paginated-response.decorator.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/common/filters/http-exception.filter.ts
  src/backend/src/common/filters/http-exception.filter.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/common/interceptors/logging.interceptor.ts
  src/backend/src/common/interceptors/logging.interceptor.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/common/interceptors/transform.interceptor.ts
  src/backend/src/common/interceptors/transform.interceptor.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/common/middleware/correlation-id.middleware.ts
  src/backend/src/common/middleware/correlation-id.middleware.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/common/pipes/validation.pipe.ts
  src/backend/src/common/pipes/validation.pipe.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/common/utils/encryption.util.ts
  src/backend/src/common/utils/encryption.util.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/common/utils/pagination.util.ts
  src/backend/src/common/utils/pagination.util.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/config/ai.config.ts
  src/backend/src/config/ai.config.ts
Owners: @devops-team, @backend-team, @frontend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/config/cache.config.ts
  src/backend/src/config/cache.config.ts
Owners: @devops-team, @backend-team, @frontend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/config/configuration.ts
  src/backend/src/config/configuration.ts
Owners: @backend-team, @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/config/database.config.ts
  src/backend/src/config/database.config.ts
Owners: @devops-team, @backend-team, @frontend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/config/queue.config.ts
  src/backend/src/config/queue.config.ts
Owners: @devops-team, @backend-team, @frontend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/database/migrations/1_create_organizations.ts
  src/backend/src/database/migrations/1_create_organizations.ts
Owners: @backend-team, @database-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/database/migrations/2_create_subscriptions.ts
  src/backend/src/database/migrations/2_create_subscriptions.ts
Owners: @backend-team, @database-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/database/migrations/3_create_users.ts
  src/backend/src/database/migrations/3_create_users.ts
Owners: @backend-team, @database-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/database/migrations/4_create_licenses.ts
  src/backend/src/database/migrations/4_create_licenses.ts
Owners: @backend-team, @database-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/database/migrations/5_create_usage_metrics.ts
  src/backend/src/database/migrations/5_create_usage_metrics.ts
Owners: @backend-team, @database-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/database/migrations/6_create_notifications.ts
  src/backend/src/database/migrations/6_create_notifications.ts
Owners: @backend-team, @database-team, @security-team
