Repository josh123234/satellite-alpha-gqulib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ai-team, @frontend-team, @devops-team, @database-team

.github/CODEOWNERS:

# Order is important - the last matching pattern takes precedence.

# Global owners (fallback for any files not matched by other rules)
* @project-leads

# Backend microservices ownership
src/backend/** @backend-team @security-team

# AI/ML components requiring specialized review
src/backend/src/ai/** @ai-team @backend-team @security-team

# Frontend application ownership
src/web/** @frontend-team @security-team

# Core frontend modules with enhanced security review
src/web/src/app/core/** @frontend-team @security-team

# Infrastructure configurations
infrastructure/** @devops-team @security-team

# CI/CD workflow configurations
.github/workflows/** @devops-team @security-team

# Authentication components with primary security team ownership
src/backend/src/auth/** @security-team @backend-team

# Backend configuration requiring multi-team review
src/backend/src/config/** @backend-team @devops-team @security-team

# Database migrations requiring specialized database team review
src/backend/src/database/migrations/** @backend-team @database-team @security-team

# Documentation ownership
docs/** @project-leads @backend-team @frontend-team

# Security-related documentation
docs/security/** @security-team @project-leads

# Test configurations and frameworks
tests/** @backend-team @frontend-team @security-team

# Package dependencies and lock files
package.json @backend-team @devops-team
package-lock.json @backend-team @devops-team
yarn.lock @frontend-team @devops-team

# Environment configurations
.env.example @devops-team @security-team
*.env.* @devops-team @security-team

# Docker configurations
Dockerfile* @devops-team @security-team
docker-compose*.yml @devops-team @security-team

# Kubernetes configurations
k8s/** @devops-team @security-team

# Database schema and configuration
src/backend/src/database/schema/** @database-team @backend-team
src/backend/src/database/config/** @database-team @backend-team @security-team

# API specifications
src/backend/src/api/** @backend-team @security-team

# Shared utilities and common code
src/shared/** @backend-team @frontend-team @security-team

# Build configurations
*.config.js @devops-team @backend-team @frontend-team
*.config.ts @devops-team @backend-team @frontend-team

Add public-samples/satellite-alpha-gqulib/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/infrastructure/terraform/modules/waf/main.tf
  infrastructure/terraform/modules/waf/main.tf
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/infrastructure/terraform/modules/waf/outputs.tf
  infrastructure/terraform/modules/waf/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/infrastructure/terraform/modules/waf/variables.tf
  infrastructure/terraform/modules/waf/variables.tf
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/.env.example
  src/backend/.env.example
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @devops-team, @backend-team, @frontend-team

Add public-samples/satellite-alpha-gqulib/src/backend/nest-cli.json
  src/backend/nest-cli.json
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/package.json
  src/backend/package.json
Owners: @backend-team, @devops-team

Add public-samples/satellite-alpha-gqulib/src/backend/tsconfig.build.json
  src/backend/tsconfig.build.json
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/app.module.ts
  src/backend/src/app.module.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/main.ts
  src/backend/src/main.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/ai/ai.controller.ts
  src/backend/src/ai/ai.controller.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/ai/ai.module.ts
  src/backend/src/ai/ai.module.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/ai/ai.service.ts
  src/backend/src/ai/ai.service.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/ai/dto/ai-insight.dto.ts
  src/backend/src/ai/dto/ai-insight.dto.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/ai/interfaces/model.interface.ts
  src/backend/src/ai/interfaces/model.interface.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/ai/models/contract-analysis.model.ts
  src/backend/src/ai/models/contract-analysis.model.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/ai/models/saas-classifier.model.ts
  src/backend/src/ai/models/saas-classifier.model.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/ai/models/usage-pattern.model.ts
  src/backend/src/ai/models/usage-pattern.model.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/ai/services/langchain.service.ts
  src/backend/src/ai/services/langchain.service.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/ai/services/pytorch.service.ts
  src/backend/src/ai/services/pytorch.service.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/ai/services/tensorflow.service.ts
  src/backend/src/ai/services/tensorflow.service.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/ai/tests/ai.controller.spec.ts
  src/backend/src/ai/tests/ai.controller.spec.ts
Owners: @ai-team, @backend-team, @security-team
