Repository josh123234/satellite-alpha-gqulib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ai-team, @frontend-team, @devops-team, @database-team

.github/CODEOWNERS:

# Order is important - the last matching pattern takes precedence.

# Global owners (fallback for any files not matched by other rules)
* @project-leads

# Backend microservices ownership
src/backend/** @backend-team @security-team

# AI/ML components requiring specialized review
src/backend/src/ai/** @ai-team @backend-team @security-team

# Frontend application ownership
src/web/** @frontend-team @security-team

# Core frontend modules with enhanced security review
src/web/src/app/core/** @frontend-team @security-team

# Infrastructure configurations
infrastructure/** @devops-team @security-team

# CI/CD workflow configurations
.github/workflows/** @devops-team @security-team

# Authentication components with primary security team ownership
src/backend/src/auth/** @security-team @backend-team

# Backend configuration requiring multi-team review
src/backend/src/config/** @backend-team @devops-team @security-team

# Database migrations requiring specialized database team review
src/backend/src/database/migrations/** @backend-team @database-team @security-team

# Documentation ownership
docs/** @project-leads @backend-team @frontend-team

# Security-related documentation
docs/security/** @security-team @project-leads

# Test configurations and frameworks
tests/** @backend-team @frontend-team @security-team

# Package dependencies and lock files
package.json @backend-team @devops-team
package-lock.json @backend-team @devops-team
yarn.lock @frontend-team @devops-team

# Environment configurations
.env.example @devops-team @security-team
*.env.* @devops-team @security-team

# Docker configurations
Dockerfile* @devops-team @security-team
docker-compose*.yml @devops-team @security-team

# Kubernetes configurations
k8s/** @devops-team @security-team

# Database schema and configuration
src/backend/src/database/schema/** @database-team @backend-team
src/backend/src/database/config/** @database-team @backend-team @security-team

# API specifications
src/backend/src/api/** @backend-team @security-team

# Shared utilities and common code
src/shared/** @backend-team @frontend-team @security-team

# Build configurations
*.config.js @devops-team @backend-team @frontend-team
*.config.ts @devops-team @backend-team @frontend-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/websocket/websocket.gateway.ts
  src/backend/src/websocket/websocket.gateway.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/websocket/websocket.module.ts
  src/backend/src/websocket/websocket.module.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/websocket/dto/socket-message.dto.ts
  src/backend/src/websocket/dto/socket-message.dto.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/backend/src/websocket/interfaces/socket-event.interface.ts
  src/backend/src/websocket/interfaces/socket-event.interface.ts
Owners: @backend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/.browserslistrc
  src/web/.browserslistrc
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/Dockerfile
  src/web/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/angular.json
  src/web/angular.json
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/karma.conf.ts
  src/web/karma.conf.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/nginx.conf
  src/web/nginx.conf
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/package.json
  src/web/package.json
Owners: @backend-team, @devops-team

Add public-samples/satellite-alpha-gqulib/src/web/tsconfig.app.json
  src/web/tsconfig.app.json
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/tsconfig.spec.json
  src/web/tsconfig.spec.json
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/favicon.ico
  src/web/src/favicon.ico
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/index.html
  src/web/src/index.html
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/main.ts
  src/web/src/main.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/polyfills.ts
  src/web/src/polyfills.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/test.ts
  src/web/src/test.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/app-routing.module.ts
  src/web/src/app/app-routing.module.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/app.component.html
  src/web/src/app/app.component.html
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/app.component.scss
  src/web/src/app/app.component.scss
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/app.component.spec.ts
  src/web/src/app/app.component.spec.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/app.component.ts
  src/web/src/app/app.component.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/app.module.ts
  src/web/src/app/app.module.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/core/core.module.ts
  src/web/src/app/core/core.module.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/core/auth/auth.guard.ts
  src/web/src/app/core/auth/auth.guard.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/core/auth/auth.interceptor.ts
  src/web/src/app/core/auth/auth.interceptor.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/core/auth/auth.service.ts
  src/web/src/app/core/auth/auth.service.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/core/auth/role.guard.ts
  src/web/src/app/core/auth/role.guard.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/core/http/api.interceptor.ts
  src/web/src/app/core/http/api.interceptor.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/core/http/error.interceptor.ts
  src/web/src/app/core/http/error.interceptor.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/core/services/ai.service.ts
  src/web/src/app/core/services/ai.service.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/core/services/analytics.service.ts
  src/web/src/app/core/services/analytics.service.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/core/services/discovery.service.ts
  src/web/src/app/core/services/discovery.service.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/core/services/notification.service.ts
  src/web/src/app/core/services/notification.service.ts
Owners: @frontend-team, @security-team

Add public-samples/satellite-alpha-gqulib/src/web/src/app/core/services/subscription.service.ts
  src/web/src/app/core/services/subscription.service.ts
Owners: @frontend-team, @security-team
